//footer start
footer.footer(role="contentinfo")
	.container-fluid
		.row
			.col-lg-12.col-md-12.col-sm-12
				hr.footer-separator
		.row.d-flex.align-items-center
			.col-lg-2.col-md-12.col-sm-12.d-flex.flex-row
				include ../components/social-media
				include ../components/lang-switch
			.col-lg-7.col-md-12.col-sm-12
				include ../components/copyright
			.col-lg-3.col-md-12.col-sm-12.d-flex.justify-content-end
				include ../components/app
//footer end