//header start
header.header(role="banner")
	.container-fluid
		.row.align-items-center
			.col-lg-1.g-col-md-4
				include ../components/logo
			.col-lg-6.g-col-md-4
				include ../components/nav
			.col-lg-5.g-col-md-4.d-flex.justify-content-end
				include ../components/signup
//header end