section.ideas
	.container
		.row.text-center
			.col-lg-12.col-md-12.col-sm-12
				h2.idea-title.d-inline-block
					|Collaborate without
					br
					|constraints
					span.idea-badge.badge your idea starts here
		.row
			.col-lg-12.col-md-12.col-sm-12
				include ../components/idea
		.row
			.col-lg-12.col-md-12.col-sm-12.d-flex.justify-content-center
				include ../components/button
				