.dropdown.lang-switcher
	button.dropdown-toggle.btn-lang(type="button", data-bs-toggle="dropdown", aria-expanded="false")
		i.bi.bi-globe
		span.current-lang en
	ul.dropdown-menu
		li
			a.dropdown-item(href="#") English
		li
			a.dropdown-item(href="#") Español
		li
			a.dropdown-item(href="#") Français