ul.signup-list.d-flex.flex-row.align-items-center
	li.signup-item 
		include lang-switch
	li.signup-item.d-lg-block.d-none
		a.signup-link(href="#") Contact Sales
	li.signup-item.d-lg-block.d-none
		a.signup-link(href="#") Login
	li.signup-item.d-lg-block.d-none
		include button
		