$main-font: 'Inter', sans-serif;
$secondary-font: 'Helvetica', Arial, sans-serif;

$weight-bold: 700;
$weight-medium: 400;

$fs-lg: rem(48);
$fs-md: rem(24);
$fs-xmd: rem(18);
$fs-sm: rem(16);
$fs-xsm: rem(14);

$lh-lg: rem(48);
$lh-md: rem(24);

$main-color: #050038;
$secondary-color: #fff;
$color-1: #4262FF;
$color-2: #5F5C80;
$color-4: #9B99AF;
$color-5: #FFD02F;
$color-6: #A6A6A6;
$color-7: #f0f0f0;
$color-8: #090909;



$btn-bg: $color-1;
$btn-color: $secondary-color;
$btn-border: $color-1;

$input-bg: $secondary-color;
$input-color: $color-2;
$input-border: $color-4;

$label-bg: $color-5;

$footer-bg: $main-color;
$footer-separator: $color-4;

$app-border: $color-6;


$links-color: $main-color;
$ideas-link-color: $color-1;

$header-border: $color-7;

$social-color: $secondary-color;
$footer-lang: $secondary-color;
$footer-color: $secondary-color;