$main-font: "Inter", sans-serif;
$secondary-font: "Helvetica", Arial, sans-serif;

$weight-bold: 700;
$weight-medium: 400;

$fs-lg: rem(48);
$fs-md: rem(24);
$fs-xmd: rem(18);
$fs-sm: rem(16);
$fs-xsm: rem(14);

$lh-lg: rem(54);
$lh-md: rem(24);

$main-color: #050038;
$secondary-color: #fff;
$color-1: #4262ff;
$color-2: #5f5c80;
$color-3: #9b99af;
$color-4: #ffd02f;
$color-5: #090909;

$btn-bg: $color-1;
$btn-color: $secondary-color;
$btn-border: $color-1;

$input-bg: $secondary-color;
$input-color: $color-2;
$input-border: $color-3;

$label-bg: $color-4;
$label-color: $color-5;

$footer-bg: $main-color;
$footer-separator: $color-3;
$footer-lang: $secondary-color;
$footer-color: $secondary-color;

$links-color: $main-color;
$ideas-link-color: $color-1;

$footer-social-color: $secondary-color;

$drop-link-bg-hover: $color-1;
$drop-link-color-hover: $secondary-color;
$drop-link-bg-active: $color-1;
$drop-link-color-active: $secondary-color;

$body-bg: $secondary-color;
$menu-shadow-color: rgba($color-2, 0.8);
$menu-shadow: 0 0 15px;

$navbar-toggler-icon-bg: $color-2;

$grid-breakpoints: (
	xs: 320px,
);
